@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
*{
  font-family: 'Raleway';
  font-size: 28px;

  /* outline: 1px solid red; */
}
body {

  font-family: 'Raleway', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root{
  background-color: #0e1d32 ;
  color: aliceblue;
}

.nav-item a{

  padding: 0 5%;
  margin-left: 8px;
  font-weight: 500;

}

.nav-item a:hover{
  color: pink;
}

.hero h1, p{
  font-size: 220%;
}

.hero p{
  font-size: 80%;
}

.nav-item a{
  color: aliceblue;
  font-size: 120%
}

.nav-item a:focus{
  color: #F50057;
  scale: 1.3;
}

.info-card{
  padding: 0 10%;
}



.devIcons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.iconImg{
  margin: 2%;
}
